streamlit

#Utilities
numpy==1.26.4
pandas

#Face Recognition
scikit-learn
# dlib-bin

dlib-19.24.1-cp311-cp311-win_amd64.whl
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt

segno
bcrypt


librosa
resemblyzer